/*
	***color palette***

	rgb(51, 51, 51) 'black'
	rgb(252, 252, 252) 'white'
	rgb(153, 153, 153) light grey
*/

body {
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 16px;
	color: rgb(51, 51, 51);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

.about {
	display: flex;
}

.about > div {
	width: 50%;
	padding: 1em;
}

.contact {
	height: 6.3em;
}

.contact p {
	color: rgb(153, 153, 153);
	font-size: 0.9em;
}

.nav-bar {
	height: 10em;
	margin: 4em 0em 0.5em 0em;
	padding-bottom: 1em;
}

.nav-bar__header {
	font-size: 3.5em;
}

.nav-bar__link {
	color: rgb(153, 153, 153);
	margin: 0em 0.7em;
}

.nav-bar__link:hover, .contact a:hover {
	color: rgb(51, 51, 51);
}

.player-container {
	display: inline-block;
}

.videos-list {
    box-sizing: border-box;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.videos-list__each {
	margin-bottom: 0.625em;
	width: 33.33%;
}

.videos-list__each__title {
	display: inline-block;
	font-size: 0.75em;
	overflow-wrap: break-word;
	width: 70%;
}

/* pseudo-selectors */
.about:after, .contact:after, .nav-bar:after {
	content: "";
	display: inline-block;
	border-bottom: 0.1em solid rgba(153, 153, 153, 0.4);
	width: 70%;
}