body {
	 font-family: 'Proxima Nova', Georgia, sans-serif;
	 font-size: 16px;
	 color: rgb(51, 51, 51);
	 background-color: rgb(252, 252, 252);
}

a {
	text-decoration: none;
}

.nav-bar {
	height: 10em;
	margin: 4em 0em 0.5em 0em;
	padding-bottom: 1em;
	text-align: center;
}

.nav-bar:after {
	content: "";
	display: inline-block;
	border-bottom: 0.1em solid rgba(153, 153, 153, 0.4);
	width: 70%;
}

.nav-bar__header {
	font-size: 3.5em;
}

.nav-bar__link {
	color: rgb(153, 153, 153);
	margin: 0em 0.7em;
}

.nav-bar__link:hover {
	color: rgb(51, 51, 51);
}